* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #95abe9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;

  background-color: #202020;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  text-align: center;
  font-size: 2.5em;
}

#timer {
  font-size: 5em;
}

#timer:hover {
  cursor: pointer;

  color: #5e82e4;
}

/* BUTTONS */

#buttons {
  display: flex;
  gap: 1em;
}

button {
  border: none;
  border-radius: 15em;

  padding: 1em 2em;

  cursor: pointer;

  font-size: 1.1em;
}

#start {
  background-color: #95ABE9;
  color: #000000;
}

#start:hover {
  background-color: #7a97e7;
}

#stop {
  display: none;
  color: #000000;
  background-color: #e99595;
}

#stop:hover {
  background-color: #e98282;
}

#reset {
  color: #000000;
  background-color: #e99595;
}

#reset:hover {
  background-color: #e98282;
}

#disabled {
  cursor: not-allowed;
  color: #000000;
  background-color: #404040;
}

/* FORM */

#timerForm {
  display: none;
}

#timerForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timerForm #inputs {
  margin-right: -2px;
}

#timerForm input {
  font-size: 5em;
  width: 1.1em;
  border: none;

  margin: 0 -2.8px;

  direction: rtl;
  text-align: right;

  background-color: #202020;
}

#timerForm label {
  font-size: 5em;
}

#timerForm input:focus {
  outline: none;
}

#timerForm button {
  background-color: #95abe9;
  color: #000000;
}

#timerForm button:hover {
  background-color: #7a97e7;
}

/* Hide the default spinner */
/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - non-standard */
/* input[type=number] {
  -moz-appearance: textfield;
} */