* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;

  background-color: #202020;
}

input {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  color: #7a97e7;
}

#inputs {
  color: #7a97e7;
}

#display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  text-align: center;
  color: #95abe9;
  font-size: 2.5em;
}

#timer {
  font-size: 5em;
  color: #95abe9;
  transition: color 0.2s ease-in-out;
}

#timer:hover {
  cursor: pointer;

  color: #5e82e4;
}

/* BUTTONS */

#buttons {
  display: flex;
  gap: 1em;
}

button {
  border: none;
  border-radius: 15em;

  padding: 1em 2em;

  cursor: pointer;

  font-size: 1.1em;
}

#start {
  background-color: #95abe9;
  color: #000000;

  transition: background-color 0.2s ease-in-out;
}

#start:hover {
  background-color: #7a97e7;
}

#stop {
  display: none;
  color: #000000;
  background-color: #e99595;

  transition: background-color 0.2s ease-in-out;
}

#stop:hover {
  background-color: #e98282;
}

#clear {
  color: #000000;
  background-color: #e99595;

  transition: background-color 0.2s ease-in-out;
}

#clear:hover {
  background-color: #e98282;
}

.disabled {
  cursor: not-allowed;
  color: #000000 !important;
  background-color: #6b6b6b !important;
}

.disableTimerClick {
  cursor: default;
  pointer-events: none;
}

/* FORM */

#timerForm {
  display: none;
}

#timerForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timerForm #inputs {
  margin-right: -2px;
}

#timerForm input {
  font-size: 5em;
  width: 1.1em;
  border: none;

  margin: 0 -2.8px;

  /* direction: rtl;
  text-align: right; */

  background-color: #202020;
}

#timerForm label {
  font-size: 5em;
}

#timerForm input:focus {
  outline: none;
}

#timerForm button {
  background-color: #95abe9;
  color: #000000;

  transition: background-color 0.2s ease-in-out;
}

#timerForm button:hover {
  background-color: #7a97e7;
}

/* Hide the default spinner */
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - non-standard */
/* input[type=number] {
  -moz-appearance: textfield;
} */

/* TIMER MODES PILL */

.timer-modes-pill {
  display: flex;
  position: relative;
  border: 2px solid #888888;
  border-radius: 999px;
  overflow: hidden;
  font-family: inherit;
  width: 200px;
}

#highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #7a97e7;
  border-radius: 999px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.toggle-option {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  font: inherit;
  color: #6b6b6b;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}

.toggle-option.active {
  color: white;
}

/* Settings */
#settings {
  position: fixed;
  right: 3rem;
  top: 10%;
  width: 200px;
}

#settings-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#settings-icon:hover {
  background-color: #282828;
  cursor: pointer;
}

#cog {
  width: 20px;
  height: 20px;
  color: #c4c4c4;
}

#chevron {
  width: 15px;
  height: 15px;
  color: #c4c4c4;
  transition: transform 0.2s ease;
  transform-origin: center;
}

#chevron.open {
  transform: rotate(90deg);
}

#settings-panel {
  display: none;
}

#settings-panel.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.settings-icon {
  color: #95abe9;
  width: 20px;
  height: 20px;
}

.setting {
  display: flex;
  gap: 0.5rem;
}

/* Capsule toggle */
.toggle-container {
  position: relative;
  width: 44px;
  height: 20px;
}

.toggle-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  transition: 0.3s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
  background-color: #95abe9;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translate(24px);
}

/* Accessability visual feedback */
.toggle-input:focus + .toggle-slider {
  box-shadow: 0 0 0 3px rgba(149, 171, 233, 0.5);
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#volume-slider {
  flex: 1;
  height: 24px;
  appearance: none;
  -webkit-appearance: none;
  background: #333;
  border-radius: 12px;
  outline: none;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #95abe9;
  transition: background 0.2s;
}

#volume-slider::-webkit-slider-thumb {
  background: #7a97e7;
}

.volume-value{
    min-width: 50px;
    text-align: left;
    color: #bababa;
}
